body {
    min-width: 320px;
}

.container {
    padding: 0 20px;
    background-color: lightgreen;
}
@media (min-width: 640px) {
    .container {
        padding: 0 30px;
        background-color: lightpink;
    }
}
@media (min-width: 768px) {
    .container {
        padding: 0 40px;
        background-color: lightsalmon;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
        background-color: lightseagreen;
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1320px;
        background-color: lightskyblue;
    }
}